
<html>
    <head> </head>
    <body> 
        <h1> This is SIGN UP </h1>

        <%= form_for @user do |f| %>
            <%= f.label :EMAIL %>
            <%= f.text_field :email %> <br>
            <%= f.label :PASSWORD %>
            <%= f.password_field :password %> <br>
            <%= f.label :NAME %>
            <%= f.text_field :name %> <br>
            <%= f.label :"FAVORITE CUISINE" %>
            <%= f.text_field :favorite_cuisine %> <br>
            <%= f.label :ADDRESS %>
            <%= f.text_field :address %> <br>
            <%= f.label :ZIPCODE %>
            <%= f.text_field :zipcode %> <br>
            <%= f.submit "Create Account" %>
            <ul>
                <% @user.errors.messages.each do |msg| %>
                    <li> <%= msg %></li>
                <% end %>
            </ul>
        <% end %>
    </body>
</html>