<head>
    <% content_for :stylesheets do %>
        <%= stylesheet_link_tag 'signup' %>
    <% end %>
</head>
<body>
    <div class="container">
        <%= form_for @user do |f| %>
            <div class="row"> 
                <div class="col-md-3"> 
                    <%= f.label :EMAIL %>
                </div>
                <div class="col-md-9"> 
                    <%= f.text_field :email %>
                </div>
            </div>
            <% if @user.errors.messages[:email] %>
                <div class="row"> 
                    <div class="col-md-3"></div>
                    <div class="col-md-9"> 
                        <ul>
                            <% @user.errors.messages[:email].each do |msg| %>
                                <li> <%= msg %> </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            <% end %>
            <br>
            <div class="row"> 
                <div class="col-md-3"> 
                    <%= f.label :PASSWORD %>
                </div>
                <div class="col-md-9"> 
                    <%= f.password_field :password %>
                </div>
            </div>
            <% if @user.errors.messages[:password] %>
                <div class="row"> 
                    <div class="col-md-3"></div>
                    <div class="col-md-9"> 
                        <ul>
                            <% @user.errors.messages[:password].each do |msg| %>
                                <li> <%= msg %> </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            <% end %>
            <br>
            <div class="row"> 
                <div class="col-md-3"> 
                    <%= f.label :NAME %>
                </div>
                <div class="col-md-9"> 
                    <%= f.text_field :name %>
                </div>
            </div>
            <% if @user.errors.messages[:name] %>
                <div class="row"> 
                    <div class="col-md-3"></div>
                    <div class="col-md-9"> 
                        <ul>
                            <% @user.errors.messages[:name].each do |msg| %>
                                <li> <%= msg %> </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            <% end %>
            <br>
            <div class="row"> 
                <div class="col-md-3"> 
                    <%= f.label :PHONE %>
                </div>
                <div class="col-md-9"> 
                    <%= f.text_field :phone %>
                </div>
            </div>
            <% if @user.errors.messages[:phone] %>
                <div class="row"> 
                    <div class="col-md-3"></div>
                    <div class="col-md-9"> 
                        <ul>
                            <% @user.errors.messages[:phone].each do |msg| %>
                                <li> <%= msg %> </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            <% end %>
            <br>
            <div class="row"> 
                <div class="col-md-3"> 
                    <%= f.label :"FAVORITE CUISINE" %>
                </div>
                <div class="col-md-9"> 
                    <%= f.text_field :favorite_cuisine %>
                </div>
            </div>
            <br>
            <div class="row"> 
                <div class="col-md-3"> 
                    <%= f.label :ADDRESS %>
                </div>
                <div class="col-md-9"> 
                    <%= f.text_field :address %>
                </div>
            </div>
            <% if @user.errors.messages[:address] %>
                <div class="row"> 
                    <div class="col-md-3"></div>
                    <div class="col-md-9"> 
                        <ul>
                            <% @user.errors.messages[:address].each do |msg| %>
                                <li> <%= msg %> </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            <% end %>
            <br>
            <div class="row"> 
                <div class="col-md-3"> 
                    <%= f.label :ZIPCODE %>
                </div>
                <div class="col-md-9"> 
                    <%= f.text_field :zipcode %>
                </div>
            </div>
            <% if @user.errors.messages[:zipcode] %>
                <div class="row"> 
                    <div class="col-md-3"></div>
                    <div class="col-md-9"> 
                        <ul>
                            <% @user.errors.messages[:zipcode].each do |msg| %>
                                <li> <%= msg %> </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            <% end %>
            <br>
            <div class="row"> 
                <div class="col-md-12"> 
                    <%= f.submit " CREATE ACCOUNT " %>
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-secondary">
                <a href="/home/index" > GO BACK </a>
            </button>
        <% end %>
    </div>
</body>