<head> 
    <% content_for :stylesheets do %>
        <%= stylesheet_link_tag 'main' %>
    <% end %>
</head>

<body>
    <div id = "box" class="container"> 
        <div class="tab">
            <button class="tablinks" data-inline="true" onclick="openPage(event, 'zipcode')"> NEAR YOU</button>
            <button class="tablinks" data-inline="true" onclick="openPage(event, 'fav_cuisine')"> FAVORITE CUISINE</button>
            <button class="tablinks" data-inline="true" onclick="openPage(event, 'all')" id="all_button">ALL DISHES</button>
            
        </div>
        <div id="zipcode" class="tabcontent">
            <% if @user_dish_zipcode.count > 0 %>
                <h3> Today's dishes for you near <%= @current_user.zipcode %> </h3>
                <br>
                <% @user_dish_zipcode.each do |dish| %>
                    <div class="dish"> 
                        <div class="dishtitle">
                            <b><%= dish.dishname %></b> ( Only <%= dish.quantity %> servings left! )
                        </div>
                        <div class="dishdetails">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    Cuisine : <%= dish.cuisine %><br>
                                    Price : $<%= dish.price %><br>
                                    Seller : <%= dish.name %><br>
                                    Description : <%= dish.description %><br>
                                    Zipcode : <%= dish.zipcode %>
                                </div>
                                <div class="col-md-6 col-sm-12 buy_button">
                                    <button class="<%= dish.dishname %>" onclick="showBuyBlock('zipcode <%= dish.dishname %>')"> BUY </button>
                                </div>
                            </div>
                            <div class="row buy_block" id="zipcode <%= dish.dishname %>">
                                <%= form_tag(home_buy_path, method: :put) do %>
                                    <div class="row">
                                        <div class="col-md-2"> </div>
                                        <div class= "col-md-4">
                                            <%= select_tag :quantity, options_for_select(1..dish.quantity), class: 'buy'%>
                                        </div>
                                        <div class= "col-md-4">
                                            <%= submit_tag 'PLACE ORDER', class: 'buy'%>
                                        </div>
                                        <div class="col-md-2"> </div>
                                        <%= hidden_field_tag :dishname, dish.dishname %>
                                        <%= hidden_field_tag :name, dish.name %>
                                        <%= hidden_field_tag :email, dish.email %>
                                        <%= hidden_field_tag :address, dish.address %>
                                        <%= hidden_field_tag :zipcode, dish.zipcode %>
                                        <%= hidden_field_tag :phone, dish.phone %>
                                    </div>
                                <% end %>
                                <br>
                                <div class="row">
                                    <div class="col-md-4"> </div>
                                    <div class="col-md-4">
                                        <button class = "buy" onclick="hideBuyBlock('zipcode <%= dish.dishname %>')"> CANCEL </button>
                                    </div>
                                    <div class="col-md-4"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <div class="row">
                    <div class="no_items">
                        <h3> No items found near <%= @current_user.zipcode %>! </h3>
                    </div>
                </div>
            <% end %>
        </div>
        

        <div id="all" class="tabcontent">
            <%= form_tag(home_main_path, method: :get, id: "search") do %>
                <div class="row">
                    <div class= "col-md-6">
                        FILTER BY SELLER <%= text_field_tag :seller, params[:seller] %>
                    </div>
                    <div class="col-md-6">
                        FILTER BY DISHNAME <%= text_field_tag :dishname, params[:dishname] %>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class= "col-md-6">
                        FILTER BY CUISINE <%= select_tag :cuisine, options_for_select([["American", "American"], ["Chinese", "Chinese"], ["French", "French"], ["Italian","Italian"], ["Indian","Indian"], ["Mexican","Mexican"], ["Thai","Thai"], ["All", "All"]], selected: "All")%>
                    </div>
                    <div class= "col-md-6">
                        FILTER BY PRICE <%= select_tag :price, options_for_select([["< $5", "0, 5"], ["$5 - $10", "5, 10"],["$10 - $15", "10, 15"],["$15 - $20", "15, 20"], ["> $20", "20, 100"], ["All", "All"]], selected: "All")%>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <%= submit_tag 'Find Dishes'%>
                    </div>
                </div>
            <% end %>
            <% if @user_dish.count > 0 %>
                <h3> Today's dishes for you </h3>
                <br>
                <% @user_dish.each do |dish| %>
                    <div class="dish"> 
                        <div class="dishtitle">
                            <b><%= dish.dishname %></b> ( Only <%= dish.quantity %> servings left! )
                        </div>
                        <div class="dishdetails">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    Cuisine : <%= dish.cuisine %><br>
                                    Price : $<%= dish.price %><br>
                                    Seller : <%= dish.name %><br>
                                    Description : <%= dish.description %><br>
                                    Zipcode : <%= dish.zipcode %>
                                </div>
                                <div class="col-md-6 col-sm-12 buy_button">
                                    <button class="<%= dish.dishname %>" onclick="showBuyBlock('all <%= dish.dishname %>')"> BUY </button>
                                </div>
                            </div>
                            <br>
                            <div class="row buy_block" id="all <%= dish.dishname %>">
                                <%= form_tag(home_buy_path, method: :put) do %>
                                    <div class="row">
                                        <div class="col-md-2"> </div>
                                        <div class= "col-md-4">
                                            <%= select_tag :quantity, options_for_select(1..dish.quantity), class: 'buy'%>
                                        </div>
                                        <div class= "col-md-4">
                                            <%= submit_tag 'PLACE ORDER', class: 'buy'%>
                                        </div>
                                        <div class="col-md-2"> </div>
                                        <%= hidden_field_tag :dishname, dish.dishname %>
                                        <%= hidden_field_tag :name, dish.name %>
                                        <%= hidden_field_tag :email, dish.email %>
                                        <%= hidden_field_tag :address, dish.address %>
                                        <%= hidden_field_tag :zipcode, dish.zipcode %>
                                        <%= hidden_field_tag :phone, dish.phone %>
                                    </div>
                                <% end %>
                                <br>
                                <div class="row">
                                    <div class="col-md-4"> </div>
                                    <div class="col-md-4">
                                        <button class = "buy" onclick="hideBuyBlock('all <%= dish.dishname %>')"> CANCEL </button>
                                    </div>
                                    <div class="col-md-4"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <div class="row">
                    <div class="no_items">
                        <h3> No items found! </h3>
                    </div>
                </div>
            <% end %>
        </div>
        

        <div id="fav_cuisine" class="tabcontent">
            <% if @user_dish_cuisine.count > 0 %>
                <h3> Today's <%= @current_user.favorite_cuisine %> dishes for you </h3>
                <br>
                <% @user_dish_cuisine.each do |dish| %>
                    <div class="dish"> 
                        <div class="dishtitle">
                            <b><%= dish.dishname %></b> ( Only <%= dish.quantity %> servings left! )
                        </div>
                        <div class="dishdetails">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    Cuisine : <%= dish.cuisine %><br>
                                    Price : $<%= dish.price %><br>
                                    Seller : <%= dish.name %><br>
                                    Description : <%= dish.description %><br>
                                    Zipcode : <%= dish.zipcode %>
                                </div>
                                <div class="col-md-6 col-sm-12 buy_button">
                                    <button class="<%= dish.dishname %>" onclick="showBuyBlock('cuisine <%= dish.dishname %>')"> BUY </button>
                                </div>
                            </div>
                            <br>
                            <div class="row buy_block" id="cuisine <%= dish.dishname %>">
                                <%= form_tag(home_buy_path, method: :put) do %>
                                    <div class="row">
                                        <div class="col-md-2"> </div>
                                        <div class= "col-md-4">
                                            <%= select_tag :quantity, options_for_select(1..dish.quantity), class: 'buy'%>
                                        </div>
                                        <div class= "col-md-4">
                                            <%= submit_tag 'PLACE ORDER', class: 'buy'%>
                                        </div>
                                        <div class="col-md-2"> </div>
                                        <%= hidden_field_tag :dishname, dish.dishname %>
                                        <%= hidden_field_tag :name, dish.name %>
                                        <%= hidden_field_tag :email, dish.email %>
                                        <%= hidden_field_tag :address, dish.address %>
                                        <%= hidden_field_tag :zipcode, dish.zipcode %>
                                        <%= hidden_field_tag :phone, dish.phone %>
                                    </div>
                                <% end %>
                                <br>
                                <div class="row">
                                    <div class="col-md-4"> </div>
                                    <div class="col-md-4">
                                        <button class = "buy" onclick="hideBuyBlock('cuisine <%= dish.dishname %>')"> CANCEL </button>
                                    </div>
                                    <div class="col-md-4"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <div class="row">
                    <div class="no_items">
                        No items found for <%= @current_user.favorite_cuisine %> cuisine!
                    </div>
                </div>
            <% end %>
        </div>
        
    
        <script>
            function openPage(evt, category) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                console.log(tabcontent);
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                let content = document.getElementById(category)
                console.log(content)
                content.style.display = "block";
                evt.currentTarget.className += " active";

                buy_blocks = document.getElementsByClassName("buy_block")
                for (i = 0; i < buy_blocks.length; i++) {
                    buy_blocks[i].style.display = "none";
                }
            }

            $(document).ready(function () {
                document.getElementById("all_button").click(); 
            });

            function showBuyBlock(dish_id) {
                var x = document.getElementById(dish_id);
                x.style.display = "block";
            }

            function hideBuyBlock(dish_id) {
                var x = document.getElementById(dish_id);
                x.style.display = "none";
            }
        </script> 
        
        <div id = "box" class="container"> 
            <button type="button" class="btn btn-secondary">
                <a href="/dishes/new" method="post"> SELL A DISH </a>
            </button>
        </div>
    </div>
</body>