<head> 
    <% content_for :stylesheets do %>
        <%= stylesheet_link_tag 'main' %>
    <% end %>
</head>
<body>
    <div class = "container">
        <div class="dishdetails">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    Name : <%= @user_details[0].name %><br>
                    Email : <%= @user_details[0].email %><br>
                    Contact number : <%= @user_details[0].phone %><br>
                    Favorite Cuisine : <%= @user_details[0].favorite_cuisine %><br>
                    Adresss : <%= @user_details[0].address %><br>
                    Zipcode : <%= @user_details[0].zipcode %>
                         
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <% if @sold_dishes.count > 0 %>
                        <h3> Sold Dishes </h3><br>
                        <% @sold_dishes.each do |dish| %>
                            Name : <%= dish.dishname %>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <% if @unsold_dishes.count > 0 %>
                        <h3> Currently Selling Dishes </h3><br>
                        <% @unsold_dishes.each do |dish| %>
                            Name : <%= dish.dishname %> <br>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</body>

