<head> 
    <% content_for :stylesheets do %>
        <%= stylesheet_link_tag 'main' %>
    <% end %>
</head>
<body>
    <div class = "user_info">
        <div class="dishdetails">
            <div class="row">
                <br>
                <div class = "details">
                    <div class="user_name">
                        <b> MY PROFILE <br></b>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="details"> 
                    <div class = "quantity">
                        <b> Contact Information <br><br></b>
                    </div>
                    <span class="label"> NAME : </span> <%= @user_details[0].name %><br>
                    <span class="label"> EMAIL : </span> <%= @user_details[0].email %><br>
                    <span class="label"> NUMBER : </span> <%= @user_details[0].phone %><br>
                    <span class="label"> ADDRESS : </span> <%= @user_details[0].address %>, <%= @user_details[0].zipcode %><br>
                </div>
            </div>
            <div class="row">
                <% if @sold_dishes.count > 0 %>
                    <div class="details">
                        <div class = "quantity">
                            <b> Sold Dishes </b><br><br>
                        </div>
                        <% @sold_dishes.each do |dish| %>    
                            <div class="dishdetails">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <b><%= dish.dishname %></b> <br>
                                        <span class="label"> CUISINE : </span> <%= dish.cuisine %><br>
                                        <span class="label"> PRICE : </span> $<%= dish.price %><br>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            </div>
            <div class="row">
                <% if @unsold_dishes.count > 0 %>
                    <div class="details">
                        <div class = "quantity">
                            <b> Currently Selling Dishes </b> <br><br>
                        </div>
                        <% @unsold_dishes.each do |dish| %>
                            <div class="dishdetails">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <b><%= dish.dishname %></b> <br>
                                        <span class="label">CUISINE : </span> <%= dish.cuisine %><br>
                                        <span class="label">PRICE : </span> $<%= dish.price %><br>
                                        <span class="label">PORTIONS REMAINING : </span><%= dish.quantity %><br><br>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            </div>    
        </div>
    </div>
</body>

