<!DOCTYPE html>
<html lang="en">
  	<head>
		<title> MyApp </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="icon" href="data:,">
		
		<!-- jquery -->
		<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		
		<!-- ICON  -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= content_for :stylesheets if content_for?(:stylesheets) %>
		<%= stylesheet_link_tag 'application' , media: 'all', 'data-turbolinks-track' => true%>
  	</head>

  	<body>
		<% if current_user %>
			<nav class="navbar navbar-inverse navbar-expand-lg">
				<div class="container-fluid">
					<div class="navbar-header">
						<div id="currentUser" > <%= "Logged in as #{current_user.name}" %> </div>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<%= link_to home_main_path do %>
							<i class="fa fa-home"></i>
						<% end %>
						<%= link_to logout_path, id: "logout", method: :delete do %>
							<i class="fa fa-sign-out"></i>
						<% end %>
					</ul>
				</div>
			</nav>
		<% end %>
		
		<%= yield %>
		
		<% if notice %>
			<%= notice %>
		<% end %>
		
		<% if alert %>
			<%= alert %>
		<% end %>
  	</body>
</html>
